@media (max-width:990px){
  #menu-toggle{
    display: none;
  }
  .navbar-collapse{
  background-color: #18161b !important;
  }
  #user-name-one{
    display: none;
  }
  #user-name-two,#box-user-name{
    display: block;
  }
  .collap{
    display: block;
  }
  #greencard-mobileview{
    display: block!important;
  }
  #greencard-webview{
    display: none!important;
  }
  .section-year{
    grid-template-columns: 1fr !important;
    grid-template-rows:auto auto !important;
    grid-template-areas:
    "section"
    "year" !important;
  }
  .section{
  position: inherit;
  margin-bottom: 10px;
  }
  .year{
   position: inherit;
   margin-left: 0px !important;
   margin-bottom: 10px;
  }

  .report-form-container>.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:auto auto;
    grid-template-areas:
    "grid-area-1"
    "grid-area-2"
  }


}
@media (max-width:800px){
  canvas#chartStatus,canvas#chartPencapaian,canvas#chartLokasi,canvas#chartKta{
    max-height: 550px !important;
    max-width: 450px !important;
  }

}
@media (min-width: 991px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #menu-toggle{
    display: none;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #greencard-mobileview{
    display: none!important;
  }
  #greencard-webview{
    display: block!important;
  }
}
