@media (max-width:990px){
  #menu-toggle{
    display: none;
  }
  #user-name-one{
    display: none;
  }
  #user-name-two,#box-user-name{
    display: block;
  }
  .collap{
    display: block;
  }
  #greencard-mobileview{
    display: block!important;
  }
  #greencard-webview{
    display: none!important;
  }
  .section{
    position: relative;
    width: 200%;
    top:0px;
    left: 0;
  }
  .year{
    position:relative;
    right: 0px;
    margin-top: 0px;
  }
  .section.form-group{
      margin: 0px;
  }
  .section-year{
    grid-template-rows:auto;
    grid-template-areas:
    " section ."
    ". .";
  }
  .report-form-container>.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:auto auto;
    grid-template-areas:
    "grid-area-1"
    "grid-area-2"
  }


}
@media (max-width:800px){
  .year{
    position:relative;
    right: 0px;
    margin: 0px;
    top: 60px!important;
  }
  .section.form-group{
      margin: 0px;
  }
  .section-year{
    grid-auto-rows:auto !important;
    grid-template-areas:
    "section ."
    ". .";
  }

}
@media (min-width: 991px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #menu-toggle{
    display: none;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #greencard-mobileview{
    display: none!important;
  }
  #greencard-webview{
    display: block!important;
  }
}
