.container-fluid.login{
  /* background-image: url('../img/slider4-test.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 50vh cover;
  background-attachment: scroll; */
  height: 100vh;
  padding: 0px;
  width: 100vw;
}
.background-image{
  background-image: url('../img/slider4-test.jpg');
  height: 50vh;
  width: 100vw;
  position: relative;
  background-position: center bottom;
  padding: 0px;
  margin: 0px;
}
.container.login{
  background: #18161bb3;
  max-width: 350px;
  padding: 20px;
  align-self: center;
  border-radius: 10px;
  position: absolute;
  z-index:9999 !important;
  /* border: 1px solid #ddd;
  border-radius: 15px; */
}

body {
  overflow-x: hidden;

}
.container-fluid{
      background: #f2f7fb
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-toggler{
  float: right;
  margin-right: 0;
}
.collap{
  display: none;
}

#card-wrapper>.col-sm-3>.card>.card-body>h5.card-title{
  font-size: 0.9em;
}
.img-logo-sidebar{
  max-width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center !important;
  float:none;
}
#user-name-two, #box-user-name{
  display: none;
}
.active-btn{
  font-weight: bold;
  color: white;
  background-color: #11ab51;
}
.bg-light {
  background-color: white !important;
}
.navbar-light.bg-light{
  background-color: #34a062 !important;
}
#sidebar-wrapper,.list-group-item.bg-light{
  background-color: #18161b !important;
  color: white;
}

a.list-group-item.bg-light:hover{
  background-color: #11ab51;
  color: white;
}
#sidebar-menu>a.list-group-item.bg-light>i:hover,#sidebar-menu>a.list-group-item.bg-light>i:focus{
  color: white !important;
}
#page-content-wrapper{
  background:#f2f7fb;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom{
  border: 0px !important;
}
div.bg-light.border-right{
  border: 0px !important;
}
li.nav-item>a>span{
  color: white
}
.report-form-container{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #e8eef1;
  background: white;


}
#open-status,#close-status{
  padding: 20px;
  border-top: 0px;
  border-left: 1px;
  border-right: 1px;
  border-color: black;
}
#close-status{
  display: none;
}
#history-report{
padding-top: 20px;
}
/* table.detail-table>tbody>tr>td{
  padding: 5px;
}
table.detail-table>tbody>tr>td.attribute-detail{
padding-right: 150px;
} */
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td {
   display:block;
/*
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;

   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.bootstrap-table .bootstrap4{
  max-width:900px;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.mb-0 > button:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top: 20px;
  right: 20px;
}
.mb-0 > button[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
button[data-toggle="collapse"].btn.btn-link{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:hover{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:focus{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:active{
  color: black;
  text-decoration: none;
}
.btn-primary{
  background-color: #4bb879 !important;
  border: 0px;
}
button.btn-primary:hover{
background-color: #34a062;
}
.table-mobileview{
  font-size: 0.9em;
}
.table-mobileview>tbody>tr>td:nth-child(odd){
  font-weight: bold;
}
#greencard-mobileview{
  display: none;
}
#greencard-webview{
  display: block;
}
.section-year{
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  "section year "  ;
}
.section{
  grid-area: section;
  position: absolute;
  top:80px;
  right: 120px;
}
.year{
  grid-area: year;
  position: absolute;
  right: 30px;
  top: 80px;
}
#card-wrapper>.col-sm-3>.card{
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.report-form-container>.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows:auto ;
  grid-column-gap: 10px;
  grid-template-areas:
  "grid-area-1 grid-area-2"
}
.grid-area-1{
  grid-area:grid-area-1;
}
.grid-area-2{
  grid-area:grid-area-2;
}
a.nav-link.dropdown-toggle{
  color: rgba(0,0,0,.5);
}
.fa.fa-home{
 color: white
}

.fa.fa-volume-up{
 color:red
}

.fa.fa-history{
 color:orange
}
.fa.fa-bar-chart{
 color:#ff87cb
}
.fa.fa-credit-card-alt{
 color:lightgreen
}
.fa.fa-print{
color:#18bad9
}
.fa.fa-users{
 color:#a269d9
}
#greencard-mobileview,#greencard-webview,#rank-wrapper{
  background: white
}

#rank-wrapper{
  background: white;
  padding: 15px;
  margin: 4px;
  border:  1px solid #e8eef1;
}

.navbar-expand-lg{
padding: 0px;
}
.nav-item .collap{
  padding: 5px;
}
.nav-item.collap>a.nav-link{
  padding: 10px 15px 10px 15px;
  color: white
}
.navbar-toggler{
  margin-right:15px;
  margin-top:10px;
  margin-bottom:10px;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18161b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#34a062
}

::-webkit-input-placeholder { /* Edge */
  color: #ced4da82 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ced4da82 !important;
}

::placeholder {
  color: #ced4da82 !important;
}
