.container-fluid.login{
  background: white;
  height: 100vh;
  width: 100vw;
}
.container.login{
  background: white;
  max-width: 350px;
  padding: 20px;
  align-self: center;
  /* border: 1px solid #ddd;
  border-radius: 15px; */
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-toggler{
  float: right;
  margin-right: 0;
}
.collap{
  display: none;
}

#card-wrapper>.col-sm-3>.card>.card-body>h5.card-title{
  font-size: 0.9em;
}
.img-logo-sidebar{
  max-width: 200px;
}
#user-name-two, #box-user-name{
  display: none;
}
.active-btn{
  font-weight: bold;
}
.report-form-container{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
}
#open-status,#close-status{
  padding: 20px;
  border-top: 0px;
  border-left: 1px;
  border-right: 1px;
  border-color: black;
}
#close-status{
  display: none;
}
#history-report{
padding-top: 20px;
}
/* table.detail-table>tbody>tr>td{
  padding: 5px;
}
table.detail-table>tbody>tr>td.attribute-detail{
padding-right: 150px;
} */
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td {
   display:block;
/*
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;

   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.bootstrap-table .bootstrap4{
  max-width:900px;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.mb-0 > button:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  top: 20px;
  right: 20px;
}
.mb-0 > button[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
button[data-toggle="collapse"].btn.btn-link{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:hover{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:focus{
  color: black;
  text-decoration: none;
}
button[data-toggle="collapse"].btn-link:active{
  color: black;
  text-decoration: none;
}
.btn-primary{
  background-color: #5ebbf7;
  border-color: #4b9ace;
}
.table-mobileview{
  font-size: 0.9em;
}
.table-mobileview>tbody>tr>td:nth-child(odd){
  font-weight: bold;
}
#greencard-mobileview{
  display: none;
}
#greencard-webview{
  display: block;
}
.section-year{
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  "section year "  ;
}
.section{
  grid-area: section;
  position: absolute;
  top:80px;
  right: 120px;
}
.year{
  grid-area: year;
  position:absolute;
  right: 30px;
  top: 80px;
}
